<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bdoperacionesbasicas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BDOperacionesBasicas">
        <activity
            android:name=".MostrarListaActivity"
            android:exported="true" />
        <activity
            android:name=".MostrarVariosActivity"
            android:exported="true" />
        <activity
            android:name=".Mostrar1Activity"
            android:exported="true" />
        <activity
            android:name=".EliminarActivity"
            android:exported="true" />
        <activity
            android:name=".ModificarActivity"
            android:exported="true" />
        <activity
            android:name=".CrearActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>